[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
tqdm = "*"
pytest = "*"
autopep8 = "*"
pytest-cov = "*"
rope = "*"

[packages]
tweepy = "*"
structlog = "*"
python-json-logger = "*"
boto3 = "*"
pyaml = "*"
Jinja2 = "*"
colorama = "*"
apscheduler = "*"

[requires]
python_version = "3.8"
